{% extends 'base.html.twig' %}

{% block title %}banList{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('css/bans/main.css') }}">
{% endblock %}

{% block body %} 
{{parent()}}
<h2>Zbanowani ({{ bans|length }}): </h2>

<table>
<th>User</th>
<th>Banujący</th>
<th>Akcja</th>
{% for ban in bans %}
	<tr>
		<td>{{ban.name}}</td>
		<td>{{ban.addedBy}}</td>
		<td><a href="/bans/{{ban.id}}">Szczegóły</a></td>
		<td><button id="{{ban.id}}" class="ban-delete">Usuń</button></td>
	</tr>
{% endfor %}
</table>


{% block javascripts %}
{{ parent() }}
<script>
$(document).on('click', '.ban-delete',function(e){
	e.preventDefault();
    var id = $(this).attr('id');
fetch("http://localhost:8000/bans/delete/"+id,{
        method: "delete",
    })
    .then(resp => {
        if(resp.ok)
		{
			$(this).closest( "tr" ).hide(500);
			console.log('jest OK');
		}
		else
		{
			console.log('NOPE');
		}
    })

e.stopImmediatePropagation();
});


</script>
{% endblock %}

 {% endblock %}
